
YUKIPAN_DOMAIN=pan.yeastar.xin
YUKIPAN_LISTEN=127.0.0.1:8516
YUKIPAN_USER=yukipan
YUKIPAN_WEB_ROOT=/var/www/yukipan
YUKIPAN_DB_URL=postgres://yukipan:CHANGE_ME@127.0.0.1:5432/yukipan
YUKIPAN_REDIS_URL=redis://127.0.0.1:6379

